.logo {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  color: #929292;
  margin: 30px auto 50px;
  text-align: center;
  letter-spacing: 5px;
}

#signin {
  color: #5bb2fa;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 20px;
  text-align: center;
}

.form-signin .btn-primary {
  background: #5bb2fa;
  border-style: none;
  -webkit-box-shadow: 0px 4px 17px 0px rgba(91,178,250,0.26);
  -moz-box-shadow: 0px 4px 17px 0px rgba(91,178,250,0.26);
  box-shadow: 0px 4px 17px 0px rgba(91,178,250,0.26);
}

.form-signin .btn-primary:hover {
  background: #5bb2fa;
  border-style: none;
  -webkit-box-shadow: 0px 4px 17px 0px rgba(91,178,250,0.34);
  -moz-box-shadow: 0px 4px 17px 0px rgba(91,178,250,0.34);
  box-shadow: 0px 4px 17px 0px rgba(91,178,250,0.34);
}

.form-signin .btn-primary:focus {
  background: #5bb2fa;
  border-style: none;
  -webkit-box-shadow: 0px 4px 17px 0px rgba(91,178,250,0.34);
  -moz-box-shadow: 0px 4px 17px 0px rgba(91,178,250,0.34);
  box-shadow: 0px 4px 17px 0px rgba(91,178,250,0.34);
}

.pro {
  font-family: Sans-serif;
  margin: 0;
  color: #96a2ae;
  text-transform: uppercase;
  padding-left: 20px;
  padding-top: 5px;
  font-size: 12px;
  margin-top: 20px;
}

.copyright {
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  color: #919191;
  margin-top: 50px;
}
body {
  background-color: #f5f5f5;
}

.grid-container {
  display: grid;
  grid-template-columns: auto 330px;
  background-color: #ffffff;
  background-image: url("../images/sedas.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0px;
  height: 100vh;
}

.form-signin {
  grid-column: 2/3;
  width: 330px;
  background: #ffffff;
  opacity: 0.9;
  padding: 40px;
}

@media only screen and (max-width: 480px) {
  .grid-container {
    grid-template-columns: auto;
  }

  .form-signin {
    grid-column: 1;
    width: 100%;
    opacity: 1;
  }
}

.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin #username {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
